<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
            <th>port</th>
            <th>connect</th>
{#            <th>Disconnect</th>#}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <form>
            {% for col in colnames %}
            <td><input name="{{ col }}" value="{{ record[col] }}" readonly></td>
            {% endfor %}
            <td><input name="port"><br></td>
            <td><input type="submit" formaction="/connect" value="connect"></td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
