<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
            <th>port</th>
            <th>connect</th>
            <th>Disconnect</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
            <td><input type ="number" name="edit" value="Port"></td>
            <td><input type="submit" name="connect" value="Connect"></td>
            <td><input type="submit" name="disconnect" value="Disconnect"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

